@model QLTV.Models.Accounts
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cập nhật nhân viên</h3>
                    </div>

                    <form action="/Admin/Account/Edit" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <input type="hidden" name="IdAccount" value="@Model.IdAccount" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Tên nhân viên<span style="color: red">(*)</span></label>
                                        <input type="text" value="@Model.FullName" name="FullName" class="form-control" placeholder="Nhập tên nhân viên">
                                        <b class="text-danger">@ViewBag.FullName</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Ngày sinh</label>
                                        <input type="date" value="@Model.DateOfBirth.Value.ToString("yyyy-MM-dd")" name="DateOfBirth" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Tên đăng nhập<span style="color: red">(*)</span></label>
                                        <input type="text" name="UserName" value="@Model.UserName" class="form-control" placeholder="Tên đăng nhập">
                                        <b class="text-danger">@ViewBag.UserName</b>
                                        <b class="text-danger">@ViewBag.UserName</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="EmailReader"> Mật khẩu<span style="color: red">(*)</span></label>
                                        <input type="text" value="@Model.Password" name="Password" class="form-control" placeholder="Nhập mật khẩu">
                                        <b class="text-danger">@ViewBag.Password</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Avatar"> Ảnh đại diện</label>
                                        <br>
                                        @if (Model.Avatar != null)
                                        {
                                            <img src="~/Accounts/@Model.Avatar" width="20%">
                                        }
                                        <input type="file" class="form-control-file" name="Avatar">
                                        <input type="hidden" name="Avatar" value="@Model.Avatar">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DateOfBirth"> Chức vụ<span style="color: red">(*)</span></label>
                                        <select class="form-control" name="IdRole">
                                            <option value="0">-------------------- Chọn chức vụ --------------------</option>
                                            @foreach (var cate in ViewBag.listRole)
                                            {
                                                <option value="@cate.IdRole" @(Model.IdRole.Equals(cate.IdRole) ? "selected" : "")>@cate.NameRole</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.Role</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Trạng thái</label>
                                        <br>
                                        <input type="radio" name="Status" value="1" @(Model.Status == 1 ? "checked" : "")>Hoạt động
                                        <input type="radio" name="Status" value="2" @(Model.Status == 2 ? "checked" : "")>Không hoạt động
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>