@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới độc giả</h3>
                    </div>
                    <form id="myForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="DateLoan"> Chọn thẻ thư viện<span style="color: red">(*)</span></label>
                                        <select class="form-control" name="IdLibraryCard" id="IdLibraryCard">
                                                @foreach (var card in ViewBag.LibraryCards)
                                                {
                                                    <option value="@card.IdLibraryCard">@card.FullName</option>
                                                }
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="DateLoan"> Ngày mượn<span style="color: red">(*)</span></label>
                                        <input type="date" name="DateLoan" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="DatePay"> Ngày trả<span style="color: red">(*)</span></label>
                                        <input type="date" name="DatePay" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-dark" id="addBook">Thêm Sách</button>
                            <div id="bookFields" style="display: flex; flex-wrap: wrap">
                                <div class="bookField col-md-6">
                                    <div style="display: flex; flex-wrap: wrap; border: 2px solid; border-radius: 15px; margin-top: 15px; padding: 15px">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="bookId1">Sách</label>
                                                <select class="form-control" name="IdBook[]" id="bookId1">
                                                    @foreach (var book in ViewBag.Books)
                                                    {
                                                        <option value="@book.IdBook">@book.NameBook</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="quantity1">Số Lượng</label>
                                                <input type="number" class="form-control" name="Quantity[]" id="quantity1" min="1" value="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="quantity1">Tiền cọc</label>
                                                <input type="number" class="form-control" name="Depositis[]" id="depositis1" min="1" value="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="quantity1">Phí mượn sách</label>
                                                <input type="number" class="form-control" name="LoanPrice[]" id="loanPrice1" min="1" value="1">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-danger removeBook">Xóa</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button onclick="submitForm()" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var loanPaperDetails = [];
    // JavaScript để thêm trường sách khi nhấn nút "Thêm Sách"
    var bookCount = 1;
    document.getElementById("addBook").addEventListener("click", function () {
        bookCount++;
        var bookField = document.createElement("div");
        bookField.classList.add("bookField", "col-md-6");
        bookField.innerHTML = `
                <div style="display: flex; flex-wrap: wrap; border: 2px solid; border-radius: 15px; margin-top: 15px; padding: 15px">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="bookId${bookCount}">Sách</label>
                            <select class="form-control" name="IdBook[]" id="bookId${bookCount}">
                                @foreach (var book in ViewBag.Books)
                                {
                                    <option value="@book.IdBook">@book.NameBook</option>
                                }
                            </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="quantity${bookCount}">Số Lượng</label>
                        <input type="number" class="form-control" name="Quantity[]" id="quantity${bookCount}" min="1" value="1" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="depositis{bookCount}">Tiền cọc</label>
                        <input type="number" class="form-control" name="Depositis[]" id="depositis{bookCount}" min="1" value="1" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="loanPrice{bookCount}">Phí mượn sách</label>
                        <input type="number" class="form-control" name="LoanPrice[]" id="loanPrice{bookCount}" min="1" value="1" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="button" class="btn btn-danger removeBook">Xóa</button>
                    </div>
               </div>
                `;
        document.getElementById("bookFields").appendChild(bookField);
    });

    // JavaScript để xóa trường sách khi nhấn nút "Xóa"
    document.getElementById("bookFields").addEventListener("click", function (event) {
        if (event.target.classList.contains("removeBook")) {
            event.target.closest(".bookField").remove();
        }
    });

     function submitForm() {
        event.preventDefault();
        var form = document.getElementById('myForm');
        var formData = new FormData(form);
        var jsonData = {};

        formData.forEach(function (value, key) {
            jsonData[key] = value;
        });

        var loanPaperDetails = [];
        var bookInputs = document.querySelectorAll("select[name='IdBook[]']");
        var quantityInputs = document.querySelectorAll("input[name='Quantity[]']");
        var depositisInputs = document.querySelectorAll("input[name='Depositis[]']");
        var loanPriceInputs = document.querySelectorAll("input[name='LoanPrice[]']");
        for (var i = 0; i < bookInputs.length; i++) {
            var bookId = bookInputs[i].value;
            var quantity = quantityInputs[i].value;
            var depositis = depositisInputs[i].value;
            var loanPrice = loanPriceInputs[i].value;
            var loanPaperDetail = {
                IdBook: bookId,
                Quantity: quantity,
                Depositis: depositis,
                LoanPrice: loanPrice
            };
            loanPaperDetails.push(loanPaperDetail);
        }
        jsonData['LoanPaperDetails'] = loanPaperDetails;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Admin/BookLoanPapers/Create", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(jsonData));
    }

</script>