
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới sách</h3>
                    </div>

                    <form action="/Admin/Book/Create" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Tên sách<span style="color: red">(*)</span></label>
                                        <input type="text" name="NameBook" class="form-control" placeholder="Nhập tên sách">
                                        <b class="text-danger">@ViewBag.Name</b>
                                        <b class="text-danger">@ViewBag.CheckName</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Năm suất bản</label>
                                        <input type="text" name="YearPublising" class="form-control" placeholder="Nhập năm xuất bản">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Giá mua<span style="color: red">(*)</span></label>
                                        <input type="number" name="Price" class="form-control" value="0">
                                        <b class="text-danger">@ViewBag.Price</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Giá cho thuê<span style="color: red">(*)</span></label>
                                        <input type="number" name="LoanPrice" class="form-control" value="0">
                                        <b class="text-danger">@ViewBag.LoanPrice</b>
                                        <b class="text-danger">@ViewBag.LoanPriceCheck</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Ảnh sách <span style="color: red">(*)</span></label>
                                        <input type="file" class="form-control-file" name="UrlImage">
                                        <b class="text-danger">@ViewBag.Image</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Số lượng<span style="color: red">(*)</span></label>
                                        <input type="number" name="Quantitly" class="form-control" value="0">
                                        <b class="text-danger">@ViewBag.Quantitly</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Vị trí kệ <span style="color: red">(*)</span></label>
                                        <select class="form-control" name="IdBookShelf">
                                            <option value="">-------------------- Chọn vị trí --------------------</option>
                                            @foreach (var cate in ViewBag.listBookShelfs)
                                            {
                                                <option value="@cate.IdBookShelf">@cate.NameBookShelf</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.PublisingHouse</b>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nhà xuất bản <span style="color: red">(*)</span></label>
                                        <select class="form-control" name="IdPublisingHouse">
                                            <option value="">-------------------- Chọn nhà xuất bản --------------------</option>
                                            @foreach (var cate in ViewBag.listPublisingHose)
                                            {
                                                <option value="@cate.IdPublisingHouse">@cate.Name</option>
                                            }
                                        </select>
                                        <b class="text-danger">@ViewBag.PublisingHouse</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Trạng thái</label>
                                        <br>
                                        <input type="radio" name="Status" value="1" checked>Sử dụng
                                        <input type="radio" name="Status" value="2">Không sử dụng
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mô tả</label>
                                        <textarea class="form-control" name="DescribeNote" rows="4" cols="50" placeholder="Nhập mô tả sách"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

