@model QLTV.Models.LibraryCards
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin thẻ thư viện</h3>
                    </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="IdReader" value="@Model.IdReader" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="IdLibraryCard"> Mã thẻ<span style="color: red">(*)</span></label>
                                        <input type="text" name="IdLibraryCard" value="@Model.IdLibraryCard" disabled class="form-control" placeholder="Nhập mã thẻ">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="FullName"> Tên độc giả<span style="color: red">(*)</span></label>
                                        <input type="text" name="FullName" disabled class="form-control" value="@Model.FullName" placeholder="Nhập tên độc giả">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Passport"> Số CMT, CCCD<span style="color: red">(*)</span></label>
                                        <input type="text" name="Passport" class="form-control" value="@Model.Passport" placeholder="Nhập số CMT, CCCD">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DateOfBirth"> Ngày sinh<span style="color: red">(*)</span></label>
                                        <input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Avrtar"> Ảnh đại diện</label>
                                            <input type="hidden" name="Avrtar" value="@Model.Avrtar">
                                            <img style="margin-top: 20px" src="~/Avatars/@Model.Avrtar" alt="@Model.FullName" width="100px" height="100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/Admin/Readers/Index" class="btn btn-default">Quay lại</a>
                            <a href="/Admin/Readers/Index" class="btn btn-danger">Xóa</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>